{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Create Casino</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-control-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.deck_count.label(class="form-control-label") }}
            {{ form.deck_count(class="form-control") }}
        </div>
        <div class="form-group form-check">
            {{ form.dealer_stands_on_soft_17(class="form-check-input") }}
            {{ form.dealer_stands_on_soft_17.label(class="form-check-label") }}
        </div>
        <div class="form-group">
            {{ form.blackjack_payout.label(class="form-control-label") }}
            {{ form.blackjack_payout(class="form-control") }}
        </div>
        <div class="form-group form-check">
            {{ form.allow_late_surrender(class="form-check-input") }}
            {{ form.allow_late_surrender.label(class="form-check-label") }}
        </div>
        <div class="form-group form-check">
            {{ form.allow_early_surrender(class="form-check-input") }}
            {{ form.allow_early_surrender.label(class="form-check-label") }}
        </div>
        <div class="form-group">
            {{ form.allow_resplit_to_hands.label(class="form-control-label") }}
            {{ form.allow_resplit_to_hands(class="form-control") }}
        </div>
        <div class="form-group form-check">
            {{ form.allow_double_after_split(class="form-check-input") }}
            {{ form.allow_double_after_split.label(class="form-check-label") }}
        </div>
        <div class="form-group form-check">
            {{ form.allow_double_on_any_two(class="form-check-input") }}
            {{ form.allow_double_on_any_two.label(class="form-check-label") }}
        </div>
        <div class="form-group">
            {{ form.reshuffle_penetration.label(class="form-control-label") }}
            {{ form.reshuffle_penetration(class="form-control") }}
        </div>
        <div class="form-group form-check">
            {{ form.offer_insurance(class="form-check-input") }}
            {{ form.offer_insurance.label(class="form-check-label") }}
        </div>
        <div class="form-group form-check">
            {{ form.dealer_checks_for_blackjack(class="form-check-input") }}
            {{ form.dealer_checks_for_blackjack.label(class="form-check-label") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
