{% extends 'layout.html' %}

{% block content %}
    <h1>Edit Player</h1>

    <form action="{{ url_for('edit_player', player_id=player.id) }}" method="post" style="display: flex; align-items: flex-end;">
        <div style="margin-right: 1rem;">
            <label for="name">Player Name:</label><br>
            <input type="text" id="name" name="name" value="{{ player.name }}" required>
        </div>

        <div style="margin-right: 1rem;">
            <label for="bankroll">Bankroll:</label><br>
            <input type="number" id="bankroll" name="bankroll" value="{{ player.bankroll }}" required>
        </div>

        <button type="submit">Update Player</button>
    </form>
{% endblock %}
