{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4">Management</h1>
    <div class="list-group">
        <a href="{{ url_for('management.list_players') }}" class="list-group-item list-group-item-action">Players</a>
        <a href="{{ url_for('management.list_casinos') }}" class="list-group-item list-group-item-action">Casinos</a>
        <a href="{{ url_for('management.list_betting_strategies') }}" class="list-group-item list-group-item-action">Betting Strategies</a>
        <a href="{{ url_for('management.list_playing_strategies') }}" class="list-group-item list-group-item-action">Playing Strategies</a>
    </div>
</div>
{% endblock %}
